@media only screen and (max-width:964px ) {
    .contactLink{
        position: relative;
        left: 0px;
        bottom: 0px;
        flex-direction: row;
        
    }
    .aboutme{
        height: 20vh;
    }
    .left-col{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 57vh;
        margin: 0px 0px 20px 44px;
    }
    th, td {
        margin: 10px 0px;
    }
    .right-col{
        width: 100%;
        display: block;
        margin: auto;
        height: 80vh;
    }
    .box1{
        display: block;
        margin: 10px 100px;
        height: 110vh;
    }
  }